@import url(/vendor/normalize.css);
@import url(/vendor/fonts/fonts.css);

.mainBody{
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: 'Inter', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

.page{
    min-width: 320px;
    max-width: 880px;
    margin: 0 auto;
    background-color: #000000;
}

.header{
    margin: auto;
    padding-top: 45px;
    border-bottom: 1px solid #545454;

}

.header__logo{
    padding-bottom: 36px;
}

.profile{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.profile__info{
    display: flex;
    flex-direction: column;
}

.profile__info-name{
    display: flex;
    padding-top: 22px;
}

.profile__card{
    display: flex;
    flex-direction: row;
}

.profile__avatar{
    max-width: 120px;
    border-radius: 60px;
    margin-right: 30px;
}

.profile__info-tittle {
    color: #FFFFFF;
    margin: 0;
    max-width: 307px;
    line-height: 40px;
    font-size: 46px;
    font-weight: 500;
}

.profile__info-subtittle{
    color: #FFFFFF;
    margin: 0;
    max-width: 336px;
    line-height: 16.7px;
    font-size: 19px;
    margin-top: 16px;
    font-weight: 400;
}

.profile__info-editButton{
    background-image: url("img/penc.png");
    background-color: #000;
    margin-left: 18px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    border: 1px solid white;
    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    align-self: center;
}

.profile__addButton{
    background-image: url("img/plus.png");
    background-color: #000;
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    place-self: center;
    margin-bottom: 10px;
}

.elements__container{
    padding: 0;
    margin: 0;
    display: grid;
    max-width: 1280px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 21px;
}

.elements{
    margin-top: 45px;
}

.element{
    width: 100%;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content 1fr;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    list-style-type: none;
}

.element__description{
    max-width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    padding-left: 22px;
    display: flex;
    justify-content: space-between;
}

.element__image{
    max-width: 100%;
    max-height: 282px;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.element__tittle{
    font-weight: 900;
    font-size: 24px;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
    line-height: 29px;
    color: #000;
    text-overflow: ellipsis;
    align-self: center;
    letter-spacing: -1.6px;
}

.element__like{
    background-color: transparent;
    background-image: url(img/like.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 23px;
    height: 19px;
    border: none;
    margin-right: 20px;
    margin-top: 30px;
    transition: opacity 0.3s linear;
}

.element__like:hover{
    opacity: 0.5;
}

.element__like_active{
    background-image: url(img/like-active.svg);
}

.footer{
    margin-top: 67px;
    margin-bottom: 60px;
}

.footer__text{
    margin: 0;
    max-width: 318px;
    min-height: 18px;
    font-size: 18px;
    line-height: 21px;
    color: #545454;
    letter-spacing: 0.8px;
}

@media screen and (max-width: 1024px) {
    .elements__container{
        grid-template-columns: repeat(2, 1fr);
    }
  .page{
      padding-left: 20px;
      padding-right: 20px;
  }
}

@media screen and (max-width: 768px) {
    .page{
        padding: 0;
    }
    .content{
        padding-right: 20px;
        padding-left: 20px;
    }
    .header__logo,.footer__text{
        padding-left: 20px;
    }
    .profile{
        flex-direction: column;
        margin-top: 38px;
    }
    .profile__info{
        align-items: center;
    }
    .profile__card{
        flex-direction: column;
        align-items: center;
    }
    .profile__addButton{
        width: 100%;
        margin-top: 36px;
        margin-bottom: 0;
    }
    .elements__container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .element__image{
        max-height: 100%
    }
    .profile__info-editButton{
        margin-left: 10px;
        width: 18px;
        height: 18px;
    }
    .profile__info-subtittle{
        margin-top: 14px;
        font-size: 14px;
        line-height: 16px;

    }
    .profile__avatar{
        margin-right: 0px;
    }
    .elements{
        margin-top: 36px;
    }
    .profile__info-tittle{
        font-size: 27px;
        line-height: 32px;
        max-width: 189px;
    }
    .footer{
        margin-top: 48px;
        margin-bottom: 36px;
    }
}