.popup__form {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 360px;
}

.popup__form > label:last-of-type {
    margin-top: 0;
    margin-bottom: 48px;
}

@media screen and (max-width: 768px) {
    .popup__form {
        margin-top: 75px;
        max-width: 238px;
    }
}