.element__image {
    max-width: 100%;
    min-height: 282px;
    box-sizing: border-box;
    margin: 0;
    position: relative;
}

@media screen and (max-width: 768px) {
    .element__image {
        max-height: 100%;
    }
}