.profile__addButton{
        background-image: url("/img/plus.png");
        background-color: #000;
        width: 150px;
        height: 50px;
        box-sizing: border-box;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
        border: 2px solid #FFFFFF;
        border-radius: 2px;
        place-self: center;
        margin-bottom: 6px;
        transition: all .3s ease-in-out;
}

.profile__addButton:hover{
        opacity: 0.8;
}

@media screen and (max-width: 768px) {
        .profile__addButton {
                margin-top: 32px;
                margin-bottom: 0;
                background-image: url("/img/plus-mobile.svg");
                width: 100%;
                max-width: 282px;
                min-height: 50px;
        }
}