.popup__label{
    width: 100%;
    min-height: 27px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;

    transition: all .3s ease-in-out;
}

.popup__label:hover{
    opacity: 0.8;
}

