.profile__info-subtitle {
    color: #FFFFFF;
    max-width: 336px;
    font-size: 18px;
    margin-top: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 18px;
    line-height: 1;
}

@media screen and (max-width: 768px) {
    .profile__info-subtitle {
        margin-top: 5px;
        font-size: 14px;
        line-height: 16px;
    }
}