.popup__title {
    max-width: 330px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    padding: 34px 64px 0px 36px;
}

@media screen and (max-width: 768px) {
    .popup__title {
        display: flex;
        position: relative;
        font-size: 18px;
        line-height: 22px;
        max-width: 248px;
        padding: 25px 22px 0px 22px;
    }
}